/* General */

body {
  background: #d8d8d8 url('../img/brillant.png') repeat;
  font-family: "proxima-nova", sans-serif;
}

* {
  text-rendering: geometricPrecision;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "proxima-nova", sans-serif;
  color: #666;
  text-shadow: 0px 1px #fff;
}

p {
  font-weight: 300;
}

a {
  font-family: "proxima-nova", sans-serif;
  color: #FF9900;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
  color: #663300;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #eee;
}

button.button {
  padding: 7px 30px;
  background-color: #FF9900;
  border: none;
  color: #663300;
  border-radius: 4px;
  font-weight: 600;
  float: right;
  margin-left: 20px;
  border-bottom: 2px solid rgb(184, 92, 0);
}

button.button:hover {
  color: #fff;
  margin-top: 2px;
  border-bottom: none;
}

button.clear-button {
  background-color: #ccc;
  border-bottom: 2px solid #aaa;
}

button.run-button {
  background-color: #FFCC66;
}

button.submit-button {

}

.navigation {
  height: 50px;
  background-color: #FF9900;
  width: 100%;
  text-shadow: 0px 1px #000;
  z-index: 1000;
  border-bottom: 1px solid #cacaca;
  position: fixed;
}

.navigation a {
  color: #fff;
}

.navigation ul {
  list-style: none;
  text-align: right;
  display: inline-block;
  float: right;
  text-transform: uppercase;
}

.navigation ul li {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  line-height: 50px;
  text-align: right;
  font-size: 14px;
  margin-left: 20px;
  letter-spacing: 1px;
}

.navigation ul li a {
  padding: 10px;
  border-radius: 5px;
}

.navigation ul li a:hover {
  color: inherit;
  background-color: rgba(255,255,255,0.3);
}

.navigation-logo-link {
  position: relative;
  height: inherit;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  text-shadow: 0px 1px #000;
}

.navigation-logo-link:hover {
  color: #663300;
  text-shadow: 0px -1px rgba(255, 255, 255, 0.5);
}

.navigation-logo-link span {
  display: inline-block;
  margin-top: 7px;
}

.navigation-logo-link span.subtitle {
  margin-top: 0;
  font-size: 12px;
  line-height: 12px;
}

.navigation-logo {
  position: relative;
  top: -5px;
  height: 50px;
  margin-left: 30px;
}

#main-content {
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: #eaeaea;
  border: 1px solid #cacaca;
  border-top: none;
/*  -moz-box-shadow: 0px 0px 4px #ccc;
  -webkit-box-shadow: 0px 0px 4px #ccc;
  box-shadow: 0px 0px 4px #ccc;*/
  margin-bottom: 50px;
}

/* Coding page */

#turtle-canvas, #turtle-image {
  background-color: #fff;
  border-radius: 4px;
  -moz-box-shadow: 1px 1px 1px #999;
  -webkit-box-shadow: 1px 1px 1px #999;
  box-shadow: 1px 1px 1px #999;
}

#output {
  height: 300px;
  overflow: scroll;
}

.modal-body {
  background-color: rgb(255, 237, 202);
}
