/* General */

body {
  background: #d8d8d8 url('../img/brillant.png') repeat;
  font-family: "proxima-nova", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "proxima-nova", sans-serif;
  color: #666;
  text-shadow: 0px 1px #fff;
}

a {
  font-family: "proxima-nova", sans-serif;
  color: #FF9900;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
  color: #663300;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #eee;
}

button.button {
  padding: 7px 30px;
  background-color: #FF9900;
  border: none;
  color: #663300;
  border-radius: 4px;
  font-weight: 600;
  float: right;
  margin-left: 20px;
}

button.button:hover {
  color: #fff;
}

button.clear-button {
  background-color: #FFCC66;
}

.navigation {
  height: 50px;
  background-color: #FF9900;
  width: 100%;
  text-shadow: 0px 1px #000;
  z-index: 1000;
  border-bottom: 1px solid #cacaca;
}

.navigation a {
  color: #fff;
}

.navigation ul {
  list-style: none;
  text-align: right;
  display: inline-block;
  float: right;
}

.navigation ul li {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  line-height: 50px;
  width: 80px;
  text-align: right;
  font-size: 16px;
  margin-left: 15px;
}

.navigation ul li a {
  padding: 10px;
  border-radius: 5px;
}

.navigation ul li a:hover {
  color: inherit;
  background-color: rgba(255,255,255,0.3);
}

.navigation-logo-link {
  position: relative;
  height: inherit;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

.navigation-logo-link:hover {
  color: #663300;
}

.navigation-logo-link span {
  display: inline-block;
  margin-top: 15px;
}

.navigation-logo {
  position: relative;
  top: 10px;
  height: 50px;
  margin-left: 30px;
}

#main-content {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: #eaeaea;
  border: 1px solid #cacaca;
  border-top: none;
/*  -moz-box-shadow: 0px 0px 4px #ccc;
  -webkit-box-shadow: 0px 0px 4px #ccc;
  box-shadow: 0px 0px 4px #ccc;*/
  margin-bottom: 50px;
}

/* Coding page */

#turtle-canvas {
  background-color: #fff;
  border-radius: 4px;
  -moz-box-shadow: 1px 1px 1px #999;
  -webkit-box-shadow: 1px 1px 1px #999;
  box-shadow: 1px 1px 1px #999;
}

#output {
  height: 300px;
  overflow: scroll;
}

.run-btn {
  text-align: right;
}