{% extends 'base.html' %}

{% block content %}
		<div class="row">
			<div class="span12" style="text-align:center">
				
				<h1>The CS1010S Team</h1>
				<p><strong>Prof Ben Leong &middot; Alex Liew &middot; Ong Chee Chin &middot; Soon Chun Mun &middot; Eldric Liew &middot; Jason Yeo &middot; Peh Shao Hong &middot; Soedarsono &middot; Raymond Tang Xiao &middot; Elaine Sun &middot; Tay Yang Shun &middot; Ng Yee Sian</strong></p>
				<hr/>
				<img src="static/img/about-banner.png"/>
			</div>
		</div>
{% endblock %}