	{% extends "base.html" %}

	{% block scripts %}
	<script type="text/javascript"> 
		
		var myDataRef;

		$(document).ready(function() {

			myDataRef = new Firebase('https://turtlegram.firebaseio.com/posts');

			myDataRef.on('value', function(snapshot) {
				$('#turtlegram-gallery').html('');
				var data = snapshot.val()
				console.log(data);
				for (var key in data) {
					var $post = $('<div></div>').addClass('turtlegram-post');
					var $title = $('<h4></h4>').addClass('turtlegram-post-title').text(data[key].title);
					var $name = $('<p></p>').html('<strong>' + data[key].creator + '</strong>');
					var $img = $('<img/>').addClass('turtlegram-post-img').attr('src', data[key].image_url);

					var url = "{{url_for('view')}}" + key;

					$title = $('<a></a>').attr('href', url).html($title);
					$img = $('<a></a>').attr('href', url).html($img);

					$post.append($title);
					$post.append($name);
					$post.append($img);
					$('#turtlegram-gallery').prepend($post);
				}
			});
		})


	</script> 
	{% endblock %}

	{% block content %}
		<div class="row">
			<div class="span12">
				<h1>TurtleGrams Gallery</h1>
				<p>Create your own awesome TurtleGram <a href="create.html">here</a> and share them with the world!</p>
				<hr/>
			</div>
		</div>
		<div class="row">
			<div class="span12" id="turtlegram-gallery">
			</div>
		</div>
	{% endblock %}
