		{% extends "base.html" %}

		{% block content %}
		<div class="row turtle-banner inner-shadow">
			<div class="span12">
				<img src="static/img/turtlegram-logo.png">
				<h1>TurtleGram</h1>
				<h3>CS1010S Python Turtle Design Contest</h3>
			</div>
		</div>
		<div class="row">
			<div class="span12" style="text-align:center; padding-top: 20px; padding-bottom:20px;">
				<button class="button create-button" style="float:none"><a href="{{url_for('create')}}"><h3>Start Creating Now!</h3></a></button>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h4>Fast and Easy to Learn</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
			</div>
			<div class="span4">
				<h4>Dedicated Teaching Team</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
			</div>
			<div class="span4">
				<h4>Creative Projects and Contests</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
		{% endblock %}