    {% extends 'base.html' %}

    {% block scripts %}
    <script type="text/javascript"> 
        // output functions are configurable.  This one just appends some text
        // to a pre element.
        function outf(text) { 
            var mypre = document.getElementById("output"); 
            mypre.innerHTML = mypre.innerHTML + text; 
        } 
        function builtinRead(x) {
            if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
                    throw "File not found: '" + x + "'";
            return Sk.builtinFiles["files"][x];
        }
         
        // Here's everything you need to run a python program in skulpt
        // grab the code from your textarea
        // get a reference to your pre element for output
        // configure the output function
        // call Sk.importMainWithBody()
        function runit(run_without_animation) { 
            var prog = myCodeMirror.getValue();
            if ($('#turtle-animation').is(":checked") || run_without_animation) {
                
                var lines = prog.split('\n');
                // console.log(lines);
                for (var i = 0; i < lines.length; i++) {
                    if (lines[i].indexOf('turtle.Turtle()') != -1) {
                        var turtle_var = $.trim(lines[i].split('=')[0]);
                        lines.splice(i+1, 0, turtle_var + '.speed(0)');
                    }
                }
                prog = lines.join('\n');
            }

            var mypre = document.getElementById("output"); 
            mypre.innerHTML = ''; 
            Sk.canvas = "turtle-canvas";
            Sk.pre = "output";
            Sk.configure({output:outf, read:builtinRead}); 
            eval(Sk.importMainWithBody("<stdin>",false,prog)); 
        } 

        var myCodeMirror;

        $(document).ready(function() {

            myCodeMirror = CodeMirror.fromTextArea(document.getElementById("yourcode"), {
                mode: {name: "python",
                    version: 2,
                    singleLineStringErrors: false},
                lineNumbers: true,
                textWrapping: false,
                indentUnit: 2,
                indentWithTabs: true,
                tabSize: 2,
                theme: 'twilight',
                autofocus: true,
                readOnly: true
            });

            // add shortcuts for editor
            shortcut.add("Meta+Enter",function() {
                runit();
            },{'type':'keydown',
                'propagate':false,
                'target':document
            });
            shortcut.add("Ctrl+Enter",function() {
                runit();
            },{'type':'keydown',
                'propagate':false,
                'target':document
            });
            // load page with canvas already drawn
            runit(true);
        })
    </script> 

    {% endblock %}

    {% block content %}
        <div class="row">
            <div class="span12">
                <h1>{{post_data.title}}</h1>
                <p><strong>Creator: </strong>{{post_data.creator}}</p>
                <p><strong>Description: </strong>{{post_data.description}}</p>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="span5">         
                <h3>Canvas</h3>
                <canvas id="turtle-canvas" width="380" height="380"></mycanvas> 
            </div>
            <div class="span7">
                <h3>Code</h3>
                <textarea id="yourcode" cols="40" rows="15">{{post_data.code}}</textarea><br />
                <p style="display:inline-block; width: 100%">
                    <label class="checkbox">
                        <input type="checkbox" id="turtle-animation"/> 
                        Draw without animation
                    </label>
                    <br/>
                    <button class="button run-button" onclick="runit()">Run Code</button> 
                </p>
            </div>
        </div>
        <div class="row" style="display:none">
            <div class="span12">
                <h3>Console</h3>
                <pre id="output" ></pre>  
            </div>
        </div>

    {% endblock %}